@page
@model AttendanceSytstemWebApplication.Pages.AmbaDashboard.NewUserModel
@{
    ViewData["Title"] = "New User";
    Layout = "~/Pages/Shared/_AmbassadorLayout.cshtml";
}

<div class="container col-12 border shadow p-3 mt-5 ">
    <h2 class="m-1">New User</h2>
    <div class="border container p-3 mt-4" style="padding:30px;">
        <form method="post">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Users.Username"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Users.Username" class="form-control" />
                    <span asp-validation-for="Users.Username" class="text-danger"></span>

                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Users.Role"></label>
                </div>
                <div class="col-8">
                    <select id="Status_Select" asp-for="Users.Role" class="form-control">
                        <option value="NULL" selected disabled>--- Select Status ---</option>
                        <option value="1">Ambassador</option>
                        <option value="2">Intern</option>
                    </select>
                    <span asp-validation-for="Users.Role" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 offset-3">
                    <button type="submit" class="btn btn-primary form-control text-center">Create User</button>
                </div>
                <div class="col-4">
                    <a asp-page="Index" class="btn btn-success form-control">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
