@page
@model AttendanceSytstemWebApplication.Pages.AmbaDashboard.EditInternAttendanceModel
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Edit Intern Attendance";
    Layout = "~/Pages/Shared/_AmbassadorLayout.cshtml";
}
<div class="container col-12 border shadow p-3 mt-5 ">
    <h2 class="m-1">Edit Intern Attendance</h2>
    <div class="border container p-3 mt-4" style="padding:30px;">
        <form method="post">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="form-group row">
                <input type="hidden" asp-for="Attendance.Id" />
                <input type="hidden" asp-for="Attendance.UserId"/>
                <div class="col-3">
                    <label asp-for="Attendance.Username"></label>
                </div>
                <div class="col-6">
                    <input asp-for="Attendance.Username" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Attendance.Date"></label>
                </div>
                <div class="col-6">
                    <input asp-for="Attendance.Date" class="form-control" />
                    <span asp-validation-for="Attendance.Date" class="text-danger"></span>

                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Attendance.Time"></label>
                </div>
                <div class="col-6">
                    <input asp-for="Attendance.Time" class="form-control" />
                    <span asp-validation-for="Attendance.Time" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Attendance.Status"></label>
                </div>
                <div class="col-6">
                    <select id="Status_Select" asp-for="Attendance.Status" class="form-control">
                        <option value="" selected disabled>--- Select Status ---</option>
                        <option value="1">In Time</option>
                        <option value="2">Out Time</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3 offset-3">
                    <button type="submit" class="btn btn-primary form-control">Edit Attendance</button>
                </div>
                <div class="col-3">
                    <a asp-page="InternAttendance" class="btn btn-success form-control">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

